@import "tailwindcss";

@theme {
  --color-primary-100: #ffb900;
  --color-primary-200: #ffbf00;
  --color-secondary-100: #00b050;
  --color-secondary-200: #0b1a78;
}

.scrollbarCustom::-webkit-scrollbar{
  width : 7px;
  @apply bg-slate-200;
}
.scrollbarCustom::-webkit-scrollbar-thumb{
  @apply bg-blue-200 rounded-full
}

.scrollbar-none::-webkit-scrollbar{
  display: none;
}